.search-bar-container {
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-box-form {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 100%;
  right: 45px;
  transition: left 0.15s ease-out;
  will-change: left;
  padding: 0;
  &__input {
    position: relative;
    color: #333;
    font-size: 16px;
    font-family: inherit;
    width: 100%;
    height: 15px;
    padding: 10px 60px 10px 15px;
    background-color: #fff;
    border: 1.5px solid transparent;
    border-radius: 5px;
    &:focus {
      outline: none;
      border-color: #999;
    }
  }
  &__button {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 0;
    width: 45px;
    height: 34px;
    background: no-repeat url('/assets/search.png') 50% 50% #fff;
    background-size: 50%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: 0;
    box-shadow: none;
    opacity: 0.8;
  }
}
